.gamepage-section{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* flex-direction: column; */
  gap:10px;
  /* position: absolute; */
}

.gameboard {
  width: 60%;
  height:700px;
  background-color:#333;
}

.user-section{
  width: 30%;
  height: 700px;
  background-color:aqua;
}